.post {
   border-bottom: 1px solid #e7e7e7;
}

.user-info {
   padding: 20px;
   display: flex;
   justify-content: flex-start;
}
 
.user-avatar {
   width: 50px;
   height: 50px;
   border-radius: 100px;
   overflow: hidden;
}
 
.user-avatar img {
   width: inherit;
   height: inherit;
}
 
.user-data {
   margin-left: 10px;
}

.username {
   font-size: 1rem;
}

.post-date {
   color: #616770;
   font-size: 0.8rem;
}
 
.post-content {
   width: 600px;
   height: 500px;
   overflow: hidden;
}
 
.post-content img {
   width: inherit;
   height: inherit;
}
 
.post-info {
   padding: 15px;
   display: flex;
   justify-content: space-around;
   text-align: center;
}
 
.post-info .click-icon {
   display: flex;
   justify-content: center;
   width: 140px;
   color: #604d92;
   padding: 5px 0;
}
 
.post-info .click-icon .icon {
   margin-right: 10px;
}
 
.post-info .click-icon:hover {
   background: rgba(182, 167, 222, 0.4);
}

.hide-comments-button {
   background: #f0f0f0;
   text-align: center;
   font-size: 0.9rem;
   animation-name: fadeIn;
   animation-duration: 0.4s;
   border: 1px solid #e7e7e7;
}
 
.hide-comments-button .click-icon {
   display: block;
   text-decoration: none;
   color: black;
   padding: 5px;
}
 
.comments-wrapper {
   padding: 20px;
}
 
.comments-wrapper :last-child {
   border: 0;
}
 
.comment-input {
   padding: 10px 20px;
   border-top: 1px solid #e7e7e7;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.comment-input .user-avatar,
.comment .user-avatar {
   width: 35px;
   height: 35px;
}
 
.comment-input form {
   width: 93%;
   display: inherit;
   justify-content: inherit;
}
 
.comment-input form .submit-button {
   width: auto;
   cursor: pointer;
   padding: 0 15px;
   border: 0;
   background: transparent;
}
 
.comment-input form .submit-button::before {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f3be";
   color: #9a85d2;
   font-size: 18px;
}
 
.comment-input form .submit-button:hover {
   background: rgba(182, 167, 222, 0.4);
}
 
.comment-input input {
   padding: 10px;
   width: 85%;
   border: 0;
   outline: none;
}