.profile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
	align-items: center;
    padding: 10px;
    width: 650px;
    height: 500px;
    background-color: var(--light-gray-color);
    border-radius: 8px;
}

.profile-img {
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.input-fields {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

h2 {
    font-size: 22px;
    font-style: italic;
    padding: 3px;
}

.input-value {
    padding: 5px;
    width: 220px;
    height: 30px;
    font-size: 16px;
}

.edit-icon {
    width: 30px;
    height: 30px;
    font-size: 24px;
    padding: 3px;
    border-radius: 3px;
}

.edit-icon:hover, .edit-icon:active {
    background-color: var(--gray-color);
}