.bug-report {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.bug-card {
    display: flex;
    flex-direction: column;
	align-items: center;
    padding: 10px;
    width: 650px;
    height: 500px;
    background-color: var(--light-gray-color);
    border-radius: 8px;
}

.bug-card h2 {
    font-size: 22px;
    font-style: italic;
    padding: 3px;
}

.bug-card .bug {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 8px;
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 350px;
}

.bug-card .bug h2 {
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-style: italic;
}

.bug-card .bug .bug-title {
    padding: 5px;
    width: 450px;
    height: 30px;
}

.bug-card .bug .bug-description {
    padding: 5px;
    width: 450px;
    height: 280px;
}

.bug-card .submit {
    width: 600px;
    padding: 0 10px;
    display: flex;
    justify-content: right;
}

.bug-card .submit .bug-submit {
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}