/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --light-brown-color: rgba(150, 111, 51, 0.6);
  --brown-color: rgb(150, 111, 51);
  --very-light-blue-color: rgba(173, 216, 230, 0.2);
  --light-blue-color: rgba(51, 91, 150, 0.8);
  --highlight-blue-color: rgba(173, 216, 230, 0.6);
  --blue-color: rgb(51, 91, 150);
  --light-gray-color: #a3a3a32d;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-blue-color);
  height: 90vh;
}

.input-field {
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
  width: 300px;
  font-size: 18px;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #d3d3d3;
}

.input-field-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 360px;
}

.block-button-big {
  background-color: var(--blue-color);
  color: white;
  border: none;
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: 18px;
}
.block-button-big:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block-button-big:active {
  transform: translateY(1px);
  outline: none;
}

.block-button-small {
  background-color: black;
  color: white;
  border: none;
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 16px;
}
.block-button-small:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block-button-small:active {
  transform: translateY(1px);
  outline: none;
}